.order-page-content {
  width: 95%;
  max-width: 920px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  background-color: #ffffff;
  box-shadow: 4px 4px var(--color-tertiary);
  min-height: 600px;
  border-radius: 10px;
}
.detail-content {
  display: flex;
  flex-direction: column;
}
.order-detail h3 {
  color: var(--color-tertiary);
}
.location {
  width: 100%;
}
.map {
  height: 400px;
  width: 100%;
}
@media (min-width: 920px) {
  .detail-content {
    flex-direction: row;
  }
  .detail-content >* {
    width: 50%;
  }
}
